body {
	background-color: #000000;
	font-family: "Open Sans";
	
	max-height: 100%;
	margin: 0px;
}

#header h1 {
	text-align: center;
	color: #ffffff;
	font-size: 220%
}

#header h2 {
	text-align: center;
	color: #ffffff;
	font-size: 100%
}

/*.nav ul {
	list-style-type: none;
	margin: auto;
    width: 60%;
    padding: 90px;
}

.nav ul li {
	text-align: center;
	text-decoration: none;
	color: #ffffff;
	font-size: 240%;
	font-weight: bolder;
	margin-bottom: 4%;
	font-weight: lighter;
	border: solid 1px #000;
}

.nav ul li a {
	text-align: center;
	text-decoration: none;
	color: #ffffff;
}*/

ul {
	list-style-type: none;
	margin: 0px 60px;
	padding: 0px;
	list-style-type: none;
	width: 80%;
}

li {
	/*border: solid 1px #000;*/
	/*height: 80px;*/
	/*width: 10%;*/
	display: inline-block;
	text-decoration: none;

}

li img {
	max-height: 250px;
}

.footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	text-align: center;
}

.footer p a img{
	width: 2%;
	display: inline-block;

}